<div id="wrapper" class="d-flex">

  <ul *ngIf="isNotLogin()" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="min-width: 250px; min-height: 100vh; background: #4e73df;">
    <a class="sidebar-brand d-flex align-items-center justify-content-center p-3 text-white text-decoration-none" routerLink="/dashboard">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="bi bi-emoji-laughing-fill fs-2"></i>
      </div>
      <div class="sidebar-brand-text mx-3 fw-bold">HUCKHUB </div>
    </a>

    <hr class="sidebar-divider my-0 text-white">

    <li class="nav-item active p-3">
      <a class="nav-link text-white text-decoration-none" routerLink="/dashboard">
        <i class="bi bi-card-heading"></i>
        <span> Hackaton</span>
      </a>
    </li>
  </ul>

  <div id="content-wrapper" class="d-flex flex-column flex-grow-1 bg-light">

    <nav *ngIf="isNotLogin()" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow d-flex justify-content-between px-4 py-2">
      <div class="input-group w-25">
        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for...">
        <button class="btn btn-primary" type="button"><i class="bi bi-search"></i></button>
      </div>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark text-decoration-none"
             id="userDropdown"
             role="button"
             routerLink="/login"> <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
            <img class="img-profile rounded-circle"
                 src="https://startbootstrap.github.io/startbootstrap-sb-admin-2/img/undraw_profile.svg"
                 width="30">
          </a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid" [class.p-0]="!isNotLogin()">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
